@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Plus Jakarta Sans", sans-serif;
    cursor: url('./src/Assets/cursor.png'), auto;
}

::-webkit-scrollbar {
    display: none;
}

#btn-card-destination {
    width: max-content;
    padding: 10px 24px;
    cursor: pointer;
    border-radius: 999px;
    color: rgb(58, 58, 58);
    font-size: 16px;
    background-color: transparent;
    position: absolute;
    overflow: hidden;
    outline: none;
    border: 1px solid black;
    bottom: 20px;
    left: 20px;
    z-index: 2;
}

#btn-card-destination::before {
    position: absolute;
    content: '';
    width: 120%;
    height: 120%;
    border-radius: 2px;
    z-index: -1;
    left: 0;
    top: 0;
    background-color: var(--dark-color);
    transition: transform 0.4s;
    display: block;
    transform: scaleX(0);
    transform-origin: right;
}

#btn-card-destination:hover {
    color: white;
}

#btn-card-destination:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}